/* A=0, B=0, C=1 -> Especifidad 1 */
div {
	padding: 1em;
	border-radius: 2em;
}

/* A=0, B=1, C=0 -> Especifidad 10 */
.conversor {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

/* A=0, B=1, C=1 -> Especifidad 11 */
.conversor > div {
	display: flex;
	flex-direction: column;

	margin: 1em auto;
	width: 25%;
	color: #C8C8C8;
	background-color: rgb(0, 39, 0);
}


/* A=0, B=1, C=1 -> Especifidad 11 */
.conversor > p {
	font-size: 3em;
	margin: 0 auto;
	padding: 0;
}

/* A=0, B=0, C=1 -> Especifidad 1 */
input, select {
	margin: 0.5em;
}

/* A=0, B=0, C=1 -> Especifidad 1 */
a {	
    font-size: 1.5em;
}

/* A=0, B=0, C=1 -> Especifidad 1 */
div{	
    line-height: 50px;
}

/* A=0, B=0, C=1 -> Especifidad 1 */
main{
	
    font-size: 1.5em;
}