/* A=0, B=0, C=1 -> Especifidad 1 */
nav {
  background-color: rgb(0, 39, 0);
  text-align: center;
}

/* A=0, B=0, C=2 -> Especifidad 2 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
  }
  
/* A=0, B=0, C=2 -> Especifidad 2 */
nav li {
    float: left;
}

/* A=0, B=0, C=3 -> Especifidad 3 */
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
/* A=0, B=1, C=3 -> Especifidad 13 */
nav li a:hover {
    background-color: #2C2C2C;
  }

/* A=0, B=1, C=0 -> Especifidad 10 */
.dropdown-content{
    display: none;
}

/* A=0, B=3, C=0 -> Especifidad 30 */
.dropdown:hover .dropdown-content {
    display: block;
}
