/* A=0, B=0, C=1 -> Especifidad 1 */
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
}

/* A=0, B=0, C=1 -> Especifidad 1 */
body{
    background-color: #2C2C2C;
}

/* A=0, B=0, C=1 -> Especifidad 1 */
footer{
    left: 0;
    bottom: 0;
    width: 100%;
}

/* A=0, B=1, C=0 -> Especifidad 10 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

/* A=0, B=1, C=1 -> Especifidad 11 */
.grid-container img{
    height: 65%;
    width: 80%;
}

/* A=0, B=0, C=1 -> Especifidad 1 */
section{
    font-size: 1.2em;    
    background-color: #C8C8C8;
}

/* A=0, B=0, C=1 -> Especifidad 1 */
header {
    background-color: #C8C8C8;
    padding: 1.3em;
    border: black 5px dotted;
    text-align: center;
    border-radius: 3em;
}

/* A=0, B=0, C=2 -> Especifidad 2 */
header h1 {
    background-color: transparent;
    color: rgb(0, 83, 0);
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

/* A=0, B=0, C=2 -> Especifidad 2 */
header h2 {
    background-color: transparent;
    color: rgb(0, 39, 0);
    font-size: 1.4em;
    padding: 0;
    margin: 0;
}

/* A=0, B=0, C=1 -> Especifidad 1 */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}